/* Carrossel */
.carousel-inner img {
  object-fit: cover;
  min-width: 1920px;
  min-height: 500px;
  max-width: max-content;
  max-height: max-content;
}

.carousel-control-next-icon {
  transition: 0.2s;
}

.carousel-control-next-icon:hover {
  transform: scale(1.4);
  transform: 0.09s;
}

.carousel-control-next-icon:active {
  transform: scale(1);
}
