/* Carrossel */
.carousel-inner {
  width: 100%;
  max-width: 1920px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

/* Botões do carrossel */
.carousel-control-next-icon {
  transition: transform 0.2s ease;
}

.carousel-control-next-icon:hover {
  transform: scale(1.4);
}

.carousel-control-next-icon:active {
  transform: scale(1);
}
