/* Container principal */
#container {
  display: flex;
  min-height: 100vh;
}



/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h2 {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 20px;
  margin: 10px;
}

.btn-danger {
  margin-top: 20px;
  margin: 10px;

}


/* Responsive Design */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
  }

  .main-content {
    padding: 10px;
  }
}
