/* Header */
header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* Classes do header */
.logo-cachacaria {
  margin-right: 14px;
}

.container-button-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  background-color: transparent;
  border-width: 0;
  border-radius: 6px;
  padding: 10px;
  transition: ease-in-out 100ms;
}

.menu-button:hover {
  background-color: lightgray;
}

.menu-button:active {
  background-color: rgb(163, 163, 163);
}

/* Sidebar 
.offcanvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.offcanvas-header {
  background-color: rgb(189, 189, 189);
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.offcanvas-title {
  font-size: 40px;
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.container-sidebar {
  display: flex;
  justify-content: start;
  align-items: center;
}
