/* Common */
:root {
  --color-text: #2d1e12;
  --color-accent: #c2a675;
  --color-accent-dark: #a67c52;
  --bg-footer: #f5f5f5;
}

html,
body {
  min-height: 100vh !important; 
  height: calc(100% + 30%);
  font-family: Arial, Helvetica, sans-serif;
}
