.ft-ctn {
  background: var(--bg-footer);
  padding: 20px 0;
}

.site-footer {
  text-align: center;
  color: var(--color-text);
}

.svg-img {
  width: 24px;
  margin: 0 6px;
}

.footer-text {
  margin: 4px 0;
  color: black;
}

.link-ft {
  text-decoration: none !important;
}
